<div class="main-body-container">

<cm-header></cm-header>
<cm-carousel></cm-carousel>
  <div class="cm-wrapper cm-padding-block">
      <div class="row">
          <div class="col-md-7">
            <div class="mb-50">
              <h2 class="cm-heading">Overview</h2>
              <!-- <cm-rich-text></cm-rich-text> to be used here as reusable component-->
            </div>
            <div class="mb-50">
              <p class="cm-text-serif">Arrive in style, stay in opulent surroundings and enjoy drinks at the most chic space in town - Playground. Rejuvenating treatments support the health and well- being of those partaking in the relaxing services of this Bengaluru luxury spa. Therapies focus on maintaining a mental and physical balance while providing an energizing experience.</p>
            </div>
          </div>
          <div class="col-sm-12">
            <span class="divider"></span>
          </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
          <cm-card-list-section></cm-card-list-section>
        </div>
    </div>
    <div class="cm-padding-block">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-50">
          <cm-rich-text-large></cm-rich-text-large>

        </div>
      </div>
      <div class="offers-carousel-container">
        <cm-owl-carousel></cm-owl-carousel>
      </div>
    </div>
  </div>

  <!-- reusing text component.
  Ideal text here "Curated Club Marriott Experiences"
  -->
      <div class="cm-wrapper">
          <div class="row">
              <div class="col-md-10 offset-md-1 cm-inner-wrapper">
                <cm-rich-text-large></cm-rich-text-large>
              </div>
          </div>
          <!-- reusing carousel. ideal data to be updated from backend -->
          <div class="curated-experience-container mt-50">
            <cm-teasers-list></cm-teasers-list>
          </div>
      </div>
<cm-footer></cm-footer>
</div>
