
<div class="cm-banner-carousel">
  <div id="cmBannerCarousel" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#cmBannerCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#cmBannerCarousel" data-slide-to="1"></li>
      <li data-target="#cmBannerCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <!-- carousel items -->
      <div class="carousel-item active">
        <img class="cm-banner-carousel-image" src="../../../assets/main-banner.jpg"  alt="First slide">
        <div class="carousel-caption ">
          <!-- heading for the banner -->
          <h1 class="cm-heading cm-heading-white cm-banner-carousel-title">Exclusive benefits, local experiences</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img class="cm-banner-carousel-image" src="../../../assets/banner.jpg" alt="...">
        <div class="carousel-caption ">
            <h1 class="cm-heading cm-heading-white  cm-banner-carousel-title">Exclusive benefits, local experiences</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img  class="cm-banner-carousel-image" src="../../../assets/banner.jpg" alt="...">
        <div class="carousel-caption ">
            <h1 class="cm-heading cm-heading-white  cm-banner-carousel-title">Exclusive benefits, local experiences</h1>
        </div>
      </div>
    </div>

  </div>
  <!-- overlay -->
  <div class="cm-banner-overlay"></div>
</div>

