<div class="main-body-container">
  <cm-header></cm-header>
  <cm-banner-type-cta></cm-banner-type-cta>

  <div class="sticky-sections">
    <div class=" sticky-section">
      <div class="cm-wrapper height-100">
        <div class="row height-100">
          <div class="col-md-4 offset-1 content">
            <div class="multi-content " id="multi-content-1">
              <img src="../../../assets/signup.svg" alt="" srcset="">
              <h1 class="cm-heading">Instant sign up</h1>
              <p class="cm-text-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mollis purus accumsan accumsan. Etiam volutpat sapien ut hendrerit eleifend. Curabitur pellentesque odio vitae interdum pretium. </p>
            </div>
            <div class="multi-content" id="multi-content-2">
                <img src="../../../assets/card.svg" alt="" srcset="">
              <h1 class="cm-heading">Digital Card and
                  Certificates</h1>
              <p class="cm-text-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mollis purus accumsan accumsan. Etiam volutpat sapien ut hendrerit eleifend. Curabitur pellentesque odio vitae interdum pretium. </p>
            </div>
            <div class="multi-content" id="multi-content-3">
                <img src="../../../assets/food.svg" alt="" srcset="">

                <h1 class="cm-heading">Instant Reservations</h1>
                <p class="cm-text-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mollis purus accumsan accumsan. Etiam volutpat sapien ut hendrerit eleifend. Curabitur pellentesque odio vitae interdum pretium. </p>
            </div>
            <div class="multi-content" id="multi-content-4">
                <img src="../../../assets/gift.svg" alt="" srcset="">

                <h1 class="cm-heading">Personalised Gifting
                    Options</h1>
                <p class="cm-text-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mollis purus accumsan accumsan. Etiam volutpat sapien ut hendrerit eleifend. Curabitur pellentesque odio vitae interdum pretium. </p>
            </div>
          </div>
          <div class="col-md-6  offset-1 image">
              <img class="sticky-image visible" id="sticky-image-1" src="../../../assets/club-marriott-sign-up-mockup_2019-10-14/club-marriott-sign-up-mockup@3x.png" alt="" srcset="">
              <img class="sticky-image" id="sticky-image-2" src="../../../assets/club-marriott-digital-card-mockup-copy-2_2019-10-14/club-marriott-digital-card-mockup-copy-2@3x.png" alt="" srcset="">
              <img class="sticky-image" id="sticky-image-3" src="../../../assets/club-marriott-instant-reservations-mockup_2019-10-14/club-marriott-instant-reservations-mockup@3x.png" alt="" srcset="">
              <img class="sticky-image" id="sticky-image-4" src="../../../assets/club-marriott-gift-certificates-mockup_2019-10-14/club-marriott-gift-certificates-mockup@3x.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sticky-sections-part-2">
      <div class=" sticky-section-part-2">
        <div class="cm-wrapper height-100">
          <div class="row height-100">
            <div class="col-md-12  content">
              <div class="main-content " id="part-2-content-1">
                <div class="image-container">
                  <img id="part-2-image-3" class=""  src="../../../assets/club-marriott-signature-collections-mockup_2019-10-14/club-marriott-signature-collections-mockup@3x.png" alt="" srcset="">
                  <img class=""  src="../../../assets/club-marriott-offers-events-mockup_2019-10-14/club-marriott-offers-events-mockup@3x.png" alt="" srcset="">
                  <img id="part-2-image-1" src="../../../assets/club-marriott-unique-experiences-mockup-copy_2019-10-14/club-marriott-unique-experiences-mockup-copy@3x.png" alt="" srcset="">
                </div>
                <h1 class="cm-heading">Instant sign up</h1>
                <p class="cm-text-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mollis purus accumsan accumsan. Etiam volutpat sapien ut hendrerit eleifend. Curabitur pellentesque odio vitae interdum pretium. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="personal-section" id='personal-section-1'>
      <div class="personal-section-inner">
          <div class="cm-wrapper height-100">
            <div class="row height-100">
              <div class="col-md-6  image-banner">
                <img src="../../../assets/club-marriott-personal-concierge-mockup_2019-10-14/club-marriott-personal-concierge-mockup@3x.png" alt="" srcset="">
              </div>
              <div class="col-md-4 offset-1 content">
                  <h1 class="cm-heading">Personal concierge services for your business & social needs</h1>
              </div>
            </div>
          </div>
      </div>
        <div class="personal-section-inner" id='personal-section-2'>
          <div class="cm-wrapper height-100">
            <div class="row height-100">
              <div class="col-md-6  image-banner">
                <img src="../../../assets/club-marriott-partner-benefits-mockup_2019-10-14/club-marriott-partner-benefits-mockup@3x.png" alt="" srcset="">
              </div>
              <div class="col-md-4 offset-1 content">
                  <h1 class="cm-heading">Enjoy benefits from our partners</h1>
                  <input type="email" class="cm-input mb-25" >
                  <cm-app-ctas></cm-app-ctas>
                  <a href="" class="cm-link underlined lets-chat-link text-center cm-link-serif">
                      <img src="../../../assets/checkbox-active.svg" alt="" srcset="">
                      Let's Chat
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  <cm-footer></cm-footer>
</div>
