<div class="cm-accordion-item">
  <div class="cm-accordion-header">
    <h2 class="cm-card-accordion-title cm-heading">
      Card Benefits
    </h2>
    <span class="cm-card-accordion-link">

    </span>
  </div>
  <div class="cm-accordion-body">
    <div class="cm-accordion-cards">
        <!-- DONOT COPY [SLIDES] IT IS FOR DEMO PURPOSE ONLY -->
        <cm-card-carousel [slides]="4"></cm-card-carousel>
    </div>
    <div class="load-more-block">
      <a class="load-more-link cm-link underlined">Load More</a>
    </div>
  </div>
</div>
