.cm-carousel-type2{
  position: relative;
}
.cm-carousel-type2 .cm-banner-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.cm-carousel-type2 img{
  height: 680px;
  min-height: 500px;
  max-height: calc(100vh - 100px);
  object-fit: cover;
  width: 100%;
}

.cm-carousel-type2 .carousel-control-prev,
.cm-carousel-type2 .carousel-control-next{
  width: 40px;
  opacity: 1;
}
.carousel-control-next:hover svg path,
.carousel-control-prev:hover svg path{
  fill: #c4b67e;
  transition: .3s;
}

.cm-carousel-type2 .carousel-caption{
  width: 320px;
  text-align: left;
  background: #fff;
  padding: 50px 27px;
  z-index: 1;
  left: auto;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  right: 15%;
  opacity: 0;
  transition: 1s;
  transition-delay: .3s;
}
.cm-carousel-type2 .carousel-item.active.carousel-item-left .carousel-caption{
  opacity: 0;
  transition: 0s;
}
.cm-carousel-type2 .carousel-item.active .carousel-caption{
  opacity: 1;
}
@media only screen and (max-width: 576px){

  .carousel-type-two .carousel-inner{
    overflow: visible;
  }
  .cm-carousel-type2 .carousel-caption{
    top: 100%;
    padding: 30px 80px;
    width: 100%;
    left: 0;
    transform: translate(0);
    border-bottom: solid 1px #a1a1a1;
  }
  .cm-carousel-type2 img{
    height: 280px;
    min-height: 280px;
  }
  .cm-carousel-type2 .carousel-control-next,
  .cm-carousel-type2 .carousel-control-prev{
    top: calc(100% + 112px);
  }
  .carousel-control-next svg path,
  .carousel-control-prev svg path{
    fill: #c4b67e;
  }
}
