<!-- this component is for types of banner with text and call to action on it  -->
<!-- this has no js . Onclick of button function shall be added by integration team -->


<!-- class "with-gradient" is toggleable -->
<div class=" banner-type-cta-2 with-gradient ">
  <div class="cm-wrapper height-100">
    <!-- on the below div
        'text-first' or 'image-first' can be used to align content
    -->
    <div class="row banner-type-cta-content-wrapper content-align-row text-first height-100">
      <div class="  banner-type-cta-content">
        <!-- This is rich text big size below -->
        <h1 class="cm-heading banner-type-cta-title small-margin">Club Marriott App Coming Soon</h1>
        <!-- this is rich text with serif font below -->
        <p class="cm-text-serif mb-25">
          Enhanced experience with instant sign up and reservations,  digital card and certificates, access to customised offers. Launching soon.
        </p>
          <button class="cm-button primary cm-button-sm">Know more</button>
      </div>
      <div class="col-md-7 height-100 banner-type-cta-image-block">

        <img src="../../../assets/coming-soon-mockup.png" alt="" class="banner-type-cta-image">
      </div>
    </div>
  </div>
</div>
