<!-- This is a reusable component intended to toggle the fields it has based on backend values

  The banner contains the following:
    Main Title
    Sub title/description
    Button CTA

  toggle by adding 'cm-banner-is-hidden' this class on element
-->
<div class="cm-banner left-aligned cm-type-2">
    <img class="d-block w-100" src="../../../assets/experiences-mask.jpg" alt="First slide">

    <div class="carousel-caption-block ">
      <div class="carousel-caption ">
          <h2 class="cm-heading caption-title">The BMW Experience</h2>
          <p class="cm-text-16 caption-subtitle">J.W. Marriott, Benagaluru</p>
          <p class="cm-text-serif caption-text" >Arrive in style, stay in oppulent surroundings and enjoy drinks at the most chic space in town — Playground</p>
          <button class="cm-button primary caption-cta cm-wide-mobile">
            Discover More
          </button>
    </div>
    </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
</div>
