.section-links{
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 120px);
  width: 100%;
  overflow: overlay;
  -ms-overflow-style: none;
}

.section-links.is-fixed{
  position: fixed;
  top: 100px;
  width: calc(33.33% - 59px);

}
.section-links.is-fixed.is-bottom{
  position: absolute;
  bottom: 0;
  top: unset;
  width: calc(100% - 30px);
}
.section-links::-webkit-scrollbar {
  display: none;
}

.section-links li{
  margin-bottom: 15px;
}
.section-links a{
  font-size: 18px;
}
.section-links a:hover{
  color: #c4b67e;
}
.section-links a.active{
  text-decoration: underline;
  color: #c4b67e;
}

@media only screen and (max-width:767px){
  .cm-accordion-link{
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  .questions-list .faq-sno{
    font-size: 14px;
  }
  .questions-list li{
    padding: 8px 0;
  }
}
