<!-- add has-3-col in class below to have 3 cards in a row -->
<!-- add has-4-col in class below to have 4 cards in a row-->
<div class="cm-card-list " >
  <div class='owl-carousel cards-carousel owl-theme' data-slides="4">
    <div class="card-col">
      <cm-card></cm-card>
    </div>
    <div class="card-col">
      <cm-card></cm-card>
    </div>
    <div class="card-col">
        <cm-card></cm-card>
    </div>
    <div class="card-col">
        <cm-card></cm-card>
      </div>
      <div class="card-col">
          <cm-card></cm-card>
        </div>
  </div>
</div>
