<div class="member-section right-aligned">
    <h1 class="cm-heading content-title visible-mobile">Become a Member</h1>

    <div class="row">
      <div class="col-md-7 image-section ">
        <img class="" src="../../../assets/plate-screenshot.png" alt="" class="member-section-image">
      </div>
      <div class="col-md-1 spacer"></div>
      <div class="col-md-4 cm-member-section-content">
          <h1 class="cm-heading content-title hidden-mobile">Become a Member</h1>
          <p class="cm-text-serif content-desc">
              Join the Club Marriott membership of Renaissance Ahmedabad Hotel and enhance your lifestyle through elegant dining; offers for local stays, health and fitness and much more. In addition, enjoy benefits across participating hotels of Marriott International in the Asia Pacific region.
          </p>
          <h3 class="cm-heading  hidden-mobile">Select a membership level</h3>
          <ul class="level-selection-list">
            <li class="level-selection-list-item active" data-value="1" data-price="10000">
                Level 1
            </li>
            <li class="level-selection-list-item" data-value="2" data-price="15000">
                Level 2
            </li>
            <li class="level-selection-list-item" data-value="3" data-price="25000">
                Level 3
            </li>
          </ul>
          <p class="cm-subtext mb-25">
            Level 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          </p>
          <p class="cm-text-serif content-desc">
              The membership fee is <span id="price-value">10000</span> + 18% GST
          </p>
          <p class="price" >
            INR <span id="price-after-gst">11,800</span>
          </p>
          <p class="cm-text-serif content-desc">
              To find out more download a detailed <a class="cm-link underlined">PDF here</a>.
          </p>

          <div class="cm-button-group mb-25 start">
            <button class="cm-button primary caption-cta  carousel-item-hidden">
              Buy Now
            </button>
            <button class="cm-button primary caption-cta  carousel-item-hidden">
                Download App
              </button>
          </div>
          <p class="help-text member-subtext">Your membership is valid for 12 months from the date of the issuance of the membership. </p>
          <div class="member-links-block">
            <cm-chat-toll-links></cm-chat-toll-links>
          </div>
      </div>
    </div>
</div>

