.member-section-image{
  width: 100%;
}
.cm-member-section-content{
  display: block;
}
.content-title{
  margin-bottom: 40px;
}
.content-desc{
  margin-bottom: 25px;
}
.price{
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0;
  font-family: "EB Garamond", serif;
}
.member-links{
  margin-right: 25px;
  display: inline-flex;
  align-items: center
}
.member-links img{
  height: 20px;
  margin-right: 5px;
}
.level-selection-list{
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.level-selection-list-item{
  margin-right: 34px;
  padding: 10px 20px;
  border: 1px solid #b1aaaa;
  background-color: #fff;
  color: #b1aaaa;
  cursor: pointer;
  height: 42px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.level-selection-list-item.active{
  background: #c4b67e;
  color: #fff;
  border-color: #c4b67e;
}
.level-selection-list-item:last-child{
  margin-right: 0;
}
@media only screen and (max-width: 767px){
  .level-selection-list-item{
    font-size: 14px;
  }
  .content-title{
    margin-bottom: 50px;
    text-align: center;
  }
  .member-section-image{
    margin-bottom: 50px;
  }
  .member-subtext{
    margin-bottom: 25px;
    text-align: center;
  }
  .member-links-block{
    text-align: center;
  }
  .price{
    font-size: 16px;
    margin: 20px 0;
  }
}
