<div class="member-section right-aligned">
    <div class="row">
      <div class="col-md-7 image-section ">
        <img class="" src="../../../assets/plate-screenshot.png" alt="" class="member-section-image">
      </div>
      <div class="col-md-1 spacer"></div>
      <div class="col-md-4 cm-member-section-content">
          <h2 class="cm-heading content-title">The BMW Experience</h2>
          <p class="cm-text-serif content-desc">
              Join the Club Marriott membership of Renaissance Ahmedabad Hotel and enhance your lifestyle through elegant dining; offers for local stays, health and fitness and much more. In addition, enjoy benefits across participating hotels of Marriott International in the Asia Pacific region.
          </p>
          <p class="cm-text-serif content-desc">
              The membership fee is 10,000 + 18% GST
          </p>
          <p class="price">
            INR 11,800
          </p>
          <p class="cm-text-serif content-desc">
              To find out more download a detailed PDF here.
          </p>

          <!-- hidding button for benefits use case -->
          <button class="cm-button primary caption-cta cm-wide-mobile carousel-item-hidden">
            Discover More
          </button>
      </div>
    </div>
</div>

