<!-- This is a reusable blog thumbanil compnent which consists of

  Image
  Title
  Excerpt
  Read More link
  Category/Blog Type : This is not visible in UI but will be used for filtering


  by default the text is right aligned. add "left-aligned" on alternate items for left alignment
-->
<div class="cm-blog-item right-aligned">
  <div class="row">
    <div class="col-md-7 blog-thumbnail-image-block">
      <img class="" src="../../../assets/plate-screenshot.png" alt="" class="blog-thumbnail-image">
    </div>
    <div class="col-md-1 spacer"></div>
    <div class="col-md-4 blog-item-content">
      <div class="blog-item-content-block">
        <h2 class="cm-heading caption-title mb-50 mb-25-sm">A gastronomical affair</h2>

        <p class="cm-text-serif caption-text" >
            Our award-winning kitchens and chefs serve a variety of refined and flavoursome cuisines ranging from local to international using ingredients that are sourced organic and locally whenever possible.
        </p>
        <a href="" class="cm-link  cm-link-serif">
          Read More
        </a>
      </div>
    </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
  </div>
