.cm-blog-item {
margin-bottom: 100px;
}
.blog-thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item-content{
  text-align: left;
}
.left-aligned .blog-item-content{
  order: 1
}
.left-aligned .blog-thumbnail-image-block{
  order: 4;
}
.left-aligned .spacer{
  order: 3;
}
.left-aligned .spacer-end{
  order: 2;
}

.right-aligned .blog-item-content{
  order: 3
}
.right-aligned .blog-thumbnail-image-block{
  order: 1;
}
.right-aligned .spacer{
  order: 2;
}
.right-aligned .spacer-end{
  order: 4;
}
.blog-thumbnail-image-aspect {
  width: 100%;
  padding-top: 64.3%;
  position: relative;
}

@media only screen and (max-width: 767px){
  .cm-blog-item {
    overflow: hidden;;
  }
  .blog-thumbnail-image-block{
    margin-bottom: 30px;
  }
  .blog-thumbnail-image{
    /* height: 280px;
    object-fit: cover; */
  }
  .blog-item-content-block{
    padding: 0 20px;
  }
  .left-aligned .blog-item-content,
  .right-aligned .blog-item-content{
    order: 2
  }
  .left-aligned .blog-thumbnail-image-block,
  .right-aligned .blog-thumbnail-image-block{
    order: 1;
  }
  .left-aligned .spacer,
  .right-aligned .spacer{
    order: 3;
  }
  .left-aligned .spacer-end,
  .right-aligned .spacer-end{
    order: 4;
  }
}
