<ul class="levels-list">
  <li class="levels-list-item">
    <!-- ids are not required for styling but in case you need it for development -->
    <!-- use onclick for simplicity in AEM -->
    <a tabindex="-1" class="levels-list-item-link active" onclick="toggleSection(this)" id="level1">
      Level 1
    </a>
    <a class="levels-info-icon">
      <img src="../../../assets/info.svg" alt="" srcset="">

    </a>

    <div class="level-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </div>
  </li>
  <li class="levels-list-item">
    <a tabindex="-1" class="levels-list-item-link" id="level2">
      Level 2
    </a>
    <a class="levels-info-icon">
      <img src="../../../assets/info.svg" alt="" srcset="">

    </a>
    <div class="level-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </div>
  </li>
  <li class="levels-list-item">
    <a tabindex="-1" class="levels-list-item-link" id="level3">
      Level 3
    </a>
    <a class="levels-info-icon">
      <img src="../../../assets/info.svg" alt="" srcset="">

    </a>
    <div class="level-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </div>
  </li>
</ul>
