.cm-footer{
  width: 100%;
}
.footer-top{
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.bottom-footer{
  width: 100%;
  padding: 40px 0;
}
.bottom-footer-image{
  width: 100%;;
}
