
<div class="cm-footer">
    <!-- top footer -->
    <div class="footer-top">
      <div class="cm-wrapper">
        <div class="row">
          <div class="col-sm-2">
            <cm-links-list></cm-links-list>
          </div>
          <div class="col-sm-2">
              <cm-links-list></cm-links-list>
            </div>
            <div class="col-sm-2">
                <cm-links-list></cm-links-list>
              </div>
          <div class="col-sm-3 offset-sm-2">
            <cm-section-text></cm-section-text>
          </div>
        </div>
      </div>
    </div>
    <!-- bottom footer /brands -->
    <div class="bottom-footer cm-wrapper">
      <img src="../../../assets/marriott-footer.svg" class="bottom-footer-image" alt="">
    </div>
</div>
