
<div class="cm-footer">
   <!-- top footer /brands -->
   <div class="top-footer ">
     <div class="cm-wrapper">
       <img src="../../../assets/marriott-footer.svg" class="top-footer-image" alt="">
     </div>
    </div>
    <!-- bottom footer -->
    <div class="footer-bottom">
      <div class="cm-wrapper">
        <div class="row">
          <div class="col-sm-4 col-md-2 cm-order-sm-2">
            <cm-links-list></cm-links-list>
          </div>
          <div class="col-sm-4 col-md-2 cm-order-sm-2">
              <cm-links-list></cm-links-list>
            </div>
            <div class="col-sm-4 col-md-2 cm-order-sm-2">
                <cm-links-list></cm-links-list>
              </div>
          <div class="col-sm-12 offset-md-2 col-md-3 cm-order-sm-1">
            <cm-section-text></cm-section-text>
          </div>
        </div>
      </div>
    </div>

</div>
