
<div class="cm-footer">
   <!-- top footer /brands -->
   <div class="top-footer ">
     <div class="cm-wrapper">
       <img src="../../../assets/hotels-listing.svg" class="top-footer-image" alt="">
     </div>
    </div>
    <!-- bottom footer -->
    <div class="footer-bottom">
      <div class="cm-wrapper">
        <div class="row">
          <div class="col-md-6">
            <cm-subscription></cm-subscription>
            <div class="row">
              <div class="col-4 ">
                  <cm-links-list></cm-links-list>
                </div>
                <div class="col-4 ">
                    <cm-links-list></cm-links-list>
                  </div>
                  <div class="col-4 ">
                      <cm-links-list></cm-links-list>
                    </div>
            </div>
            <p class="cm-text mt-25 hidden-mobile">1996 – 2019<img class="footer-icon" src="../../../assets/globe.svg" /> International, Inc. All rights reserved. Marriott Proprietary Information</p>
          </div>

          <div class="col-sm-12 offset-lg-2 col-lg-4 col-md-5 offset-md-1 cm-order-sm-1">
            <cm-app-ctas></cm-app-ctas>
            <cm-section-text></cm-section-text>
            <div class="mt-25 footer-sticky-links">
              <a href="" class="cm-link  footer-links">
                  <img src="../../../assets/combined-shape.svg" alt="">
                  Let's Chat</a>
              <a href="" class="cm-link  footer-links">
                  <img src="../../../assets/fill-1.svg" alt="">
                1800220044(Free)</a>
            </div>

            <p class="cm-text mt-25 visible-mobile">1996 – 2019<img class="footer-icon" src="../../../assets/globe.svg" /> International, Inc. All rights reserved. Marriott Proprietary Information</p>

          </div>
        </div>
      </div>
    </div>

</div>
