.property-content{
  margin-top: 50px;
}
.property-content-item{
  margin-bottom: 25px;
}

.property-content-item-heading{
  margin-bottom: 5px;
}
.property-content-item-body{
  margin: 0;
}
@media only screen and (max-width:767px){
  .property-content{
    margin-top: 25px;
  }
}
