<div class="property-details">
  <div class="property-title">
    <h1 class="cm-heading">Kuro - The Asian Bistro</h1>
  </div>

  <div class="property-content">
      <div class="property-content-item">
        <h3 class="cm-text-16 property-content-item-heading">Overview</h3>
        <p class="cm-text-serif property-content-item-body">
            Our stylish Chinese/Japanese restaurant provides an
            authentic taste of Asia right here in Ahmedabad. Watch
            as our talented chefs prepare your food in interactive,
            glass-enclosed show kitchens.
        </p>
      </div>
      <div class="property-content-item ">
          <h3 class="cm-text-16 property-content-item-heading">Cuisine</h3>
          <p class="cm-text-serif property-content-item-body">
              East Asian
          </p>
      </div>
      <div class="property-content-item ">
          <h3 class="cm-text-16 property-content-item-heading" >Location</h3>
          <p class="cm-text-serif property-content-item-body">
              Renaissance Ahmedabad Hotel, Ahmedabad, India
          </p>
      </div>
      <div class="property-content-item ">
          <h3 class="cm-text-16 property-content-item-heading" >Contact Details</h3>
          <p class="cm-text-serif property-content-item-body">
              <span>+91 75748 47188</span>
               |
              <span>75748 47167</span>

              or <a class="cm-link">click here</a>
          </p>
      </div>
      <div class="property-content-item ">
          <h3 class="cm-text-16 property-content-item-heading" >Operating Hours</h3>
          <p class="cm-text-serif property-content-item-body">
              Lunch <span>11.30PM—2.30PM</span>
              <br>
              Dinner <span>05.30PM—10.00PM</span>
          </p>
      </div>
  </div>

</div>
