
<div class="cm-header">
  <!-- hamburger link -->
  <a class="cm-header-hamburger-link "></a>
  <!-- hamburger html uses the same components as main navigation with different styling -->
  <div class="cm-header-hamburger ">
    <div class="cm-hamburger-wrapper">
      <cm-navigation ></cm-navigation>
      <cm-header-ctas ></cm-header-ctas>
    </div>
  </div>

  <div class="cm-header-wrapper">
    <img class="cm-header-logo" src="../../../assets/logo-cm.svg" alt="">
    <cm-navigation class="hide-header-elements"></cm-navigation>
    <cm-header-ctas class="hide-header-elements"></cm-header-ctas>
  </div>

  <a class="cm-member-drawer-link cm-member-drawer-overlay"></a>
  <div class="cm-member-drawer">
    <span class="cm-member-drawer-link cm-member-close">
      <img src="../../../assets/grey-cross.svg" alt="" srcset="">
    </span>
    <cm-member-form></cm-member-form>
  </div>
</div>
