
<div class="cm-header">
  <!-- hamburger link -->
  <a class="cm-header-hamburger-link d-lg-none d-block"></a>
  <!-- hamburger html uses the same components as main navigation with different styling -->
  <div class="cm-header-hamburger d-lg-none d-block">
    <div class="cm-hamburger-wrapper">
      <cm-navigation ></cm-navigation>
      <cm-header-ctas ></cm-header-ctas>
    </div>
  </div>

  <div class="cm-header-wrapper">
    <img class="cm-header-logo" src="../../../assets/logo-cm.svg" alt="">
    <cm-navigation class="d-lg-block d-none"></cm-navigation>
    <cm-header-ctas class="d-lg-block d-none"></cm-header-ctas>
  </div>
</div>
