<cm-header></cm-header>

<!-- use basic image banner here -->
<cm-simple-banner></cm-simple-banner>

<div class="cm-wrapper cm-wrapper-collapse-mobile cm-padding-block">
    <div class="contact-content row">
      <div class="col-md-8 offset-2">
        <!-- Rich text medium -->
        <h2 class="cm-heading mb-50 text-center">Contact Us</h2>
        <p class="cm-text-serif text-center">
            We welcome your questions & feedback.
            <br>
            <!-- Content has one enter space -->
            <br>
            Let us know if you need any additional information about Club Marriott. We will be pleased to answer your questions on how and where to purchase the Club Marriott Card, give you ideas on how to present it as a gift to a family member, friend or colleague, or handle any other queries you may have on the card's privileges.
        </p>
      </div>
      <div class="col-md-8 offset-2 cm-top-padding-block">
        <cm-contact-form></cm-contact-form>
      </div>

    </div>
</div>
<cm-footer></cm-footer>
