<!-- This is a reusable component intended to toggle the fields it has based on backend values

  The banner contains the following:
    Main Title
    Sub title/description
    Button CTA

  toggle by adding 'cm-banner-is-hidden' this class on element
-->
<div class="cm-banner right-aligned cm-type-1">
    <img class="cm-banner-carousel-image" src="../../../assets/main-banner.jpg"  alt="First slide">

    <div class="carousel-caption-block">
      <div class="carousel-caption ">
        <div class="membership-form">
          <cm-member-form></cm-member-form>
        </div>
      </div>
    </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
</div>
