<div class="main-body-container">
  <!-- reused header -->
  <cm-header></cm-header>
  <!-- just image banner to be used -->
  <cm-carousel>
  </cm-carousel>
  <!-- first section after banner in benefits page -->
  <div class="cm-padding-block cm-wrapper">
    <div class="row">
      <div class="col-md-5 col-lg-4">
            <cm-properties-details></cm-properties-details>
      </div>
      <div class="col-md-6 col-lg-7 offset-lg-1 offset-md-1">
          <img class="full-image" src="../../../assets/property-image-sample.png" alt="">
        </div>
      <div class="col-12">
          <div class="cm-button-group start vertical-sm mt-50 property-actions">
              <button class="cm-button cm-button-sm cm-wide-mobile primary">BECOME A MEMBER</button>
            </div>
      </div>
    </div>
  </div>
  <div class="cm-wrapper">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="cm-heading text-center mb-25">
            Member Benefits and Offers
          </h2>
          <p class="cm-text-serif text-center mb-100">Benefits you are entitled to as a Club Marriott member of the Renaissance
            Ahmedabad Hotel </p>
          </div>
        </div>
      <div class="mb-100">
        <cm-card-list-section></cm-card-list-section>
        <cm-card-list-section></cm-card-list-section>
        <cm-card-list-section></cm-card-list-section>
      </div>
    </div>
      <!-- carousel of type 2 to be used can be found in banner-5 -->
  <cm-carousel>
    </cm-carousel>
  <div class="cm-padding-block cm-wrapper">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="cm-heading text-center mb-25">
          Member Benefits and Offers
        </h2>
        <p class="cm-text-serif text-center mb-100">Benefits you are entitled to as a Club Marriott member of the Renaissance
          Ahmedabad Hotel </p>
        </div>
      </div>
      <cm-levels></cm-levels>
    <cm-card-accordion-section></cm-card-accordion-section>
    <cm-member-section></cm-member-section>
  </div>
  <div class="cm-wrapper">
  <cm-footer></cm-footer>
</div>
