
<!-- this component should be reusable and the text can vary based on where it is used -->

<div class="search-banner">
  <div class="search-banner-image-block">
    <img src="../../../assets/join-form-banner.jpg" alt="" srcset="" class="search-banner-image">
    <span class="search-banner-caption">
        Marriott Resort, Jaipur
    </span>
  </div>
  <div class="cm-wrapper">
    <div class="row banner-row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="search-content-container">
          <h1 class="cm-heading cm-heading-white search-content-title">
              Discover from our selection of 70 hotels
              accross India
          </h1>
          <cm-dropdown></cm-dropdown>
          <div class="mt-50 text-center">
            <button class="cm-button primary">DISCOVER MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
