<div class="owl-carousel cm-owl-carousel">
    <div class="cm-owl-carousel-item">
      <div class="cm-owl-carousel-image-block">
        <img src="../../../assets/goa.jpg" alt="" class="cm-owl-carousel-image">
      </div>
        <div class="cm-owl-carousel-content">
          <p class="cm-owl-carousel-subtext cm-text-serif">Ritz Carlton</p>
          <h2 class="cm-heading cm-owl-carousel-content-title">The Ritz-Carlton Yatch Collection</h2>
          <p class="cm-text-serif cm-owl-carousel-content-body">Set sail on a journey of discovery with The Ritz-Carlton Yacht Collection designed to combine the luxury lifestyle of The Ritz-Carlton and the casual freedom of a yachting vacation.</p>
          <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a>
        </div>
    </div>
    <div class="cm-owl-carousel-item">
      <div class="cm-owl-carousel-image-block">
        <img src="../../../assets/dining copy.jpg" alt="" class="cm-owl-carousel-image">
      </div>
        <div class="cm-owl-carousel-content">
            <p class="cm-owl-carousel-subtext cm-text-serif">JW Marriott</p>
          <h2 class="cm-heading cm-owl-carousel-content-title">Goa Marriott Resort & Spa</h2>
          <p class="cm-text-serif cm-owl-carousel-content-body">Situated on the edge of the Miramar beach with picturesque views of the Arabian Sea and Mandovi River, Goa Marriott Resort & Spa is an upscale hotel with resort services and award-winning hospitality.</p>
          <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a>
        </div>
    </div>
    <div class="cm-owl-carousel-item">
      <div class="cm-owl-carousel-image-block">
        <img src="../../../assets/spa copy.jpg" alt="" class="cm-owl-carousel-image">
      </div>
        <div class="cm-owl-carousel-content">
            <p class="cm-owl-carousel-subtext cm-text-serif">St Regis</p>
          <h2 class="cm-heading cm-owl-carousel-content-title">Golfing at Four Points</h2>
          <p class="cm-text-serif cm-owl-carousel-content-body">
              Marriott golf packages feature some of the world’s greatest golf courses. Exclusive offers vary by location and include perks like free rounds of golf and free breakfasts.
          </p>
          <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a>
        </div>
    </div>

</div>
