
.cm-owl-carousel .owl-item .cm-owl-carousel-image-block {
    height: 100%;
    margin-top: 30%;
    margin-bottom: 25px
}

.cm-owl-carousel .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block {
    padding-top: 105%;
    margin-top: 0
}

.cm-owl-carousel .owl-item.active ~ .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block,.cm-owl-carousel .owl-item.active .cm-owl-carousel-image-block {
    padding-top: 52.7%;
    margin-top: 30%
}

.not-centered.cm-owl-carousel .owl-item.active .cm-owl-carousel-image-block {
    padding-top: 105%;
    margin-top: 0
}

.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::before,.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::after {
    transform: scaleY(0)
}

.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev {
    content: '';
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #c4b67e;
    clear: both;
    transform: rotate(90deg);
    position: absolute;
    left: -40px;
    top: 195px;
    outline: 0
}

.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev span,.cm-owl-carousel.owl-carousel .owl-nav button.owl-next span {
    display: none
}

.cm-owl-carousel.owl-carousel .owl-nav button.owl-next {
    content: '';
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #c4b67e;
    clear: both;
    transform: rotate(-90deg);
    position: absolute;
    right: -40px;
    top: 195px;
    outline: 0
}

.cm-owl-carousel.owl-carousel .owl-nav button.owl-next.disabled,.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev.disabled {
    display: none
}
