/* .owl-carousel .owl-item img{
  height: 540px;
}
.cm-owl-carousel .owl-item.cloned.active .cm-owl-carousel-image{
  width: 363px;
  height: 540px;
  object-fit: cover;
  transition: .5s;
} */

.cm-owl-carousel-item{
  display: flex;
  flex-direction: column;
}
.cm-owl-carousel-image-block{
  position: relative;
}
.cm-owl-carousel-image-block::before,
.cm-owl-carousel-image-block::after{
  position: absolute;
  content: "";
  width: 101%;
  height: 50px;
  background: white;
  transform: scaleY(1);
  transition: .5s
}
.cm-owl-carousel-image-block::before{
  top: 0;
  left: 0;
  transform-origin: top;
}
.cm-owl-carousel-image-block::after{
  bottom: 0;
  transform-origin: bottom;
  left: 0;
}
.cm-owl-carousel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cm-owl-carousel-content{
  margin-top: 50px;
}
.cm-owl-carousel-link{
  margin-top: 25px;
}
