<cm-header></cm-header>
<!-- use plain bangles here -->
<cm-simple-banner></cm-simple-banner>
<div class="sitemap-wrapper">
  <!-- <cm-banner></cm-banner> -->

  <div class="cm-wrapper cm-padding-block">
    <h1 class="cm-heading mb-50">INR 1,000 Off Designer Cake</h1>
      <section class="cm-columns">
        <h2 class="cm-heading mb-25">Benefit Details</h2>
        <ol class="cert-list">
          <li>
           Membership savings are available on a table of up to a maximum of twenty (20) guests while dining at designated restaurants of the hotel.
          </li>
          <li>

            To avail of the dining benefits, the minimum requirement is that two (2) food items must be ordered.
          </li>
          <li>

            Savings are not applicable in conjunction with any other special promotion or discount program.
          </li>
          <li>
            The value of the specific saving shall not include central, state, local taxes, off-premise, takeaway or room service orders. Card benefits and certificates are not applicable during Christmas Eve, New Year’s Eve, New Year’s Day, Valentine’s Day, Independence Day or any other day as specified by the hotel.
          </li>
        </ol>
      </section>

    </div>
</div>
<cm-livechat></cm-livechat>
<cm-footer></cm-footer>
