<h2 class="index-heading cm-heading">Page Links Index</h2>
<ol>
  <li class="cm-menu-link">
    <a routerLink="/">Home</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/offers">Offers/Experiences</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/offers-signature">Offers Signature/Experiences Signature</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/offers-interior">Offers Interior</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/faq">FAQs</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/terms">Terms and Conditions</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/not-found">Not Found</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/contact">Contact</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/download-app">Download App</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/search">Hotels & Resorts</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/benefits">Benefits</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/outlet">Outlet Page</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/property">Property Page</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/become-member">Become a Member</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/blogs">Blogs</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/blog-layout1">Blog Layout 1</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/blog-layout2">Blog Layout 2</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/blog-layout3">Blog Layout 3</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/sitemap">Sitemap</a>
  </li>
  <li class="cm-menu-link">
    <a routerLink="/cert-terms">Terms Cartifications</a>
  </li>
</ol>
