<ul class="cm-header-menu-list">
  <!-- The below class is to be added for active link -->
  <!-- cm-header-menu-list-item-active -->
    <li class="cm-header-menu-list-item  cm-menu-link">Benefits</li>
      <li class="cm-header-menu-list-item cm-menu-link">Hotel & Resorts</li>
      <li class="cm-header-menu-list-item cm-menu-link">Experiences</li>
      <li class="cm-header-menu-list-item cm-menu-link">Terms & Conditions</li>
      <li class="cm-header-menu-list-item cm-menu-link">Mobile App</li>
    </ul>
