<ul class="cm-header-menu-list">
  <!-- The below class is to be added for active link -->
  <!-- cm-header-menu-list-item-active -->
    <li class="cm-header-menu-list-item  cm-menu-link">
      <!-- DO NOT COPY ROUTERLINK AND ROUTERLINKACTIVE.
            IT IS ONLY FOR DEMO PURPOSES -->
      <a  routerLink="/benefits" routerLinkActive="cm-active-link">Benefits</a>
    </li>
      <li class="cm-header-menu-list-item cm-menu-link">
        <a  routerLink="/search" routerLinkActive="cm-active-link">Hotel & Resorts</a>

      </li>
      <li class="cm-header-menu-list-item cm-menu-link">
        <a routerLink="/offers" routerLinkActive="cm-active-link"> Experiences</a>

      </li>
      <li class="cm-header-menu-list-item cm-menu-link">
        <a routerLink="/terms" routerLinkActive="cm-active-link">Terms & Conditions</a>

      </li>
      <li class="cm-header-menu-list-item cm-menu-link">
        <a routerLink="/download-app" routerLinkActive="cm-active-link">Mobile App</a>
      </li>
    </ul>
