.membership-form-block{
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 1;
  max-width: 1150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 80px;
  height: calc(100vh - 80px);

}
.membership-form-block.align-right{
  justify-content: flex-end;
}
.membership-form-block.align-left{
  justify-content: flex-start;
}
.membership-form{
  background: #fff;
  padding: 50px 100px;
  max-width: 588px;
}
.membership-banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
}
.membership-banner-image{
  height: 100%;
  object-fit: cover;
  width: 100%
}
.membership-section-wrapper{
  position: relative;
}
@media only screen and (max-width: 992px){

.membership-form{
  padding: 30px 45px;
}
.membership-form-block{
  padding: 40px;
  position: relative;
  transform: none;
  height: auto  ;
}
.membership-form-block,
.membership-form-block.align-left,
.membership-form-block.align-right{
  justify-content: center;
}
.membership-banner{
  height: 100%;
}
}
