<cm-header></cm-header>
<!-- use plain bangles here -->
<div class="cm-banner center-aligned cm-type-1">
  <img class="cm-banner-mt full-image howto-banner" src="../../../assets/howto-banner.png"  alt="First slide">
</div>
<div class="cm-wrapper cm-padding-block howto">

    <div class="error-content row">
      <div class="col-sm-12 d-md-none">
        <app-sidebar-mobile-menu></app-sidebar-mobile-menu>
      </div>
      <div class="col-md-4 d-md-block d-sm-none"> 
        <cm-accordion-sidebar class="fixedElement"></cm-accordion-sidebar>
      </div>
      <div class="col-md-8 col-sm-12 nopadding hideformobileinitially">
        <!-- Rich text medium -->
        <!-- <h2 class="cm-heading mb-25 ">how's</h2> -->
        <!-- <p class="cm-text-serif">
            <cm-chat-toll-links></cm-chat-toll-links>
          </p> -->
        <!-- <h2 class="cm-heading mt-50 mb-25">General</h2> -->
          <div class="header-mob-only">
            <div class="text-center"><img class="float-left backToSidebarMob" src="../../../assets/path.svg">
            <p></p>
            </div>
            
          </div>
          <ul class="questions-list" id="sign-list">
            <li class="cm-accordion-item cm-padding-top-0" >
              <span class="how-sno"></span>
              <span class="how-question cm-heading mb-25">Sign up</span>
              <span class="cm-plus cm-accordion-link2"></span>
              <div class="cm-accordion-content">
                <div class="howtocont">
                  <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                  <h6>Recognition</h6>
                  <p class="cm-text-serif">
                    Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                  </p>
                    <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                    <h6>Access</h6>
                    <h6 class="mb0">Follow Password rules -</h6>
                    <p class="cm-text-serif">
                      • &nbsp;	8-20 characters<br/>
                      • &nbsp;	1 upper case, <br/>
                      • &nbsp;	1 lower case, <br/>
                      • &nbsp;	1 number,<br/>
                      • &nbsp;	1 special character<br/>
                      • &nbsp;	Password should not be your Name, Email or Phone number.
                      </p>                     
                      <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                      <h6>Promo Code</h6>
                      <p class="cm-text-serif">
                        Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                      </p>
                      <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                </div>
              </div>
            </li>
            <li class="cm-accordion-item" >
                <span class="how-sno"></span>
                <span class="how-question cm-heading mb-25">Activate Membership
                  </span>
                <span class="cm-plus cm-accordion-link2"></span>
                <div class="cm-accordion-content">
                  <div class="howtocont">
                    <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                    <h6>Recognition</h6>
                    <p class="cm-text-serif">
                      Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                    </p>
                      <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                      <h6>Access</h6>
                      <h6 class="mb0">Follow Password rules -</h6>
                      <p class="cm-text-serif">
                        • &nbsp;	8-20 characters<br/>
                        • &nbsp;	1 upper case, <br/>
                        • &nbsp;	1 lower case, <br/>
                        • &nbsp;	1 number,<br/>
                        • &nbsp;	1 special character<br/>
                        • &nbsp;	Password should not be your Name, Email or Phone number.
                        </p>                     
                        <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                        <h6>Promo Code</h6>
                        <p class="cm-text-serif">
                          Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                        </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                  </div>
                </div>
              </li>
              <li class="cm-accordion-item" >
                <span class="how-sno"></span>
                <span class="how-question cm-heading mb-25">Login</span>
                <span class="cm-plus cm-accordion-link2"></span>
                <div class="cm-accordion-content">
                  <div class="howtocont">
                    <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                    <h6>Recognition</h6>
                    <p class="cm-text-serif">
                      Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                    </p>
                      <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                      <h6>Access</h6>
                      <h6 class="mb0">Follow Password rules -</h6>
                      <p class="cm-text-serif">
                        • &nbsp;	8-20 characters<br/>
                        • &nbsp;	1 upper case, <br/>
                        • &nbsp;	1 lower case, <br/>
                        • &nbsp;	1 number,<br/>
                        • &nbsp;	1 special character<br/>
                        • &nbsp;	Password should not be your Name, Email or Phone number.
                        </p>                     
                        <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                        <h6>Promo Code</h6>
                        <p class="cm-text-serif">
                          Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                        </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                  </div>
                </div>
              </li>
              <li class="cm-accordion-item" >
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Gift a Membership
                    </span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                      <h6>Recognition</h6>
                      <p class="cm-text-serif">
                        Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                        <h6>Access</h6>
                        <h6 class="mb0">Follow Password rules -</h6>
                        <p class="cm-text-serif">
                          • &nbsp;	8-20 characters<br/>
                          • &nbsp;	1 upper case, <br/>
                          • &nbsp;	1 lower case, <br/>
                          • &nbsp;	1 number,<br/>
                          • &nbsp;	1 special character<br/>
                          • &nbsp;	Password should not be your Name, Email or Phone number.
                          </p>                     
                          <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                          <h6>Promo Code</h6>
                          <p class="cm-text-serif">
                            Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                          </p>
                          <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item" >
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Buy another Membership</span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                      <h6>Recognition</h6>
                      <p class="cm-text-serif">
                        Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                        <h6>Access</h6>
                        <h6 class="mb0">Follow Password rules -</h6>
                        <p class="cm-text-serif">
                          • &nbsp;	8-20 characters<br/>
                          • &nbsp;	1 upper case, <br/>
                          • &nbsp;	1 lower case, <br/>
                          • &nbsp;	1 number,<br/>
                          • &nbsp;	1 special character<br/>
                          • &nbsp;	Password should not be your Name, Email or Phone number.
                          </p>                     
                          <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                          <h6>Promo Code</h6>
                          <p class="cm-text-serif">
                            Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                          </p>
                          <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item" >
                    <span class="how-sno"></span>
                    <span class="how-question cm-heading mb-25">Renewal Membership
                      </span>
                    <span class="cm-plus cm-accordion-link2"></span>
                    <div class="cm-accordion-content">
                      <div class="howtocont">
                        <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                        <h6>Recognition</h6>
                        <p class="cm-text-serif">
                          Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                        </p>
                          <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                          <h6>Access</h6>
                          <h6 class="mb0">Follow Password rules -</h6>
                          <p class="cm-text-serif">
                            • &nbsp;	8-20 characters<br/>
                            • &nbsp;	1 upper case, <br/>
                            • &nbsp;	1 lower case, <br/>
                            • &nbsp;	1 number,<br/>
                            • &nbsp;	1 special character<br/>
                            • &nbsp;	Password should not be your Name, Email or Phone number.
                            </p>                     
                            <img class="full-image img-desktop" src="../../../assets/howto/signup2.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign2.png">
                            <h6>Promo Code</h6>
                            <p class="cm-text-serif">
                              Enter Promo Code or else carry on as a Guest User. You can purchase a membership on the App any time. 
                            </p>
                            <img class="full-image img-desktop" src="../../../assets/howto/signup1.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign4.png">
                      </div>
                    </div>
                  </li>
               
          </ul>
          <!-- <h2 class="cm-heading mt-50 mb-25">General</h2> -->

          <ul class="questions-list" id="manage-list">
              <li class="cm-accordion-item active">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Membership Page</span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <p class="cm-text-serif">
                        Live through the exclusive experiences curated by Club Marriott
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/manage2.png">                  
                          <img class="full-image img-desktop" src="../../../assets/howto/manage1.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Multiple Memberships 
                    </span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <p class="cm-text-serif">
                        Card Wallet lets you manage multiple memberships on the same page. 

                        Select the membership you want to use and click on update membership. This will allow you to see all card and certificate benefits of the corresponding membership.
                        
                        You can also port your card details to Apple Wallet.                      </p>
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                    
                      </div>
                    </div>
                  </li>
              
          </ul>

            <ul class="questions-list" id="online-list">
              <li class="cm-accordion-item active">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Dining Reservation</span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <p class="cm-text-serif">
                        Live through the exclusive experiences curated by Club Marriott
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/manage2.png">                  
                          <img class="full-image img-desktop" src="../../../assets/howto/manage1.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Redemption and Feedback
                    </span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                      <h6>Redeem the Benefit at the Outlet</h6>
                      <p class="cm-text-serif">
                        Tap on Redeem at Restaurant on your Reservation confirmation once you are seated.  Please enter the OTP which is sent to your registered Mobile number and Email. Upon successful redemption you will receive an Email and SMS confirming the benefit has been redeemed.                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                        <h6>Share your Dining Experience</h6>
                        <p class="cm-text-serif">
                          Take a photograph of your Dining Experience and frame it in our branded digital frames to share with friends and family. Share your feedback with us to help improve our services.</p>
                          <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                        
                      </div>
                    </div>
                  </li>
          </ul>

            <ul class="questions-list" id="personal-list">
              <li class="cm-accordion-item active">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Profile View and Update</span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <p class="cm-text-serif">
                        You can modify and update your profile including communication preferences.  This will allow us to customise your experience at our hotels.                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/manage2.png">                  
                          <img class="full-image img-desktop" src="../../../assets/howto/manage1.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Activity Listing
                    </span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                      <h6>Recognition</h6>
                      <p class="cm-text-serif">
                        Upload your photo for a personalized experience at our hotels to enable our teams to recognize and welcome you at our hotels                  
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                  </div>
                </div>
                  </li>
          </ul>

            <ul class="questions-list" id="member-list">
              <li class="cm-accordion-item active">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">FAQ’s</span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <p class="cm-text-serif">
                        Live through the exclusive experiences curated by Club Marriott
                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/manage2.png">                  
                          <img class="full-image img-desktop" src="../../../assets/howto/manage1.png">
                    </div>
                  </div>
                </li>
                <li class="cm-accordion-item">
                  <span class="how-sno"></span>
                  <span class="how-question cm-heading mb-25">Chat
                    </span>
                  <span class="cm-plus cm-accordion-link2"></span>
                  <div class="cm-accordion-content">
                    <div class="howtocont">
                      <img class="full-image img-desktop" src="../../../assets/howto/signup4.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign1.png">
                      <p class="cm-text-serif">
                        Our App has <b>Chat</b> and Voice Support. We are also available on Call, WhatsApp and Email.                      </p>
                        <img class="full-image img-desktop" src="../../../assets/howto/signup3.png">
                    <img class="full-image img-mobile" src="../../../assets/howto/mob/sign3.png">
                  </div>
                </div>
                  </li>
          </ul>

      </div>
    </div>
</div>
<cm-footer></cm-footer>
