.howto{
  font-family: "ProximaNova",sans-serif;
}
.cm-accordion-item.active .cm-accordion-link2.cm-plus::before{
  transform: rotate(90deg);
}
.howtocont{
  padding-top: 40px;
}
.howtocont img:first-child{
  margin-top: 0px;
}
.howtocont img{
  margin-top: 40px;
  margin-bottom: 40px;
}
.howtocont img:last-child{
  margin-bottom: 0px;
}
.mb0{
  margin-bottom: 0 !important;
}
.howtocont h6{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.howtocont p.cm-text-serif,.howtocont div.cm-text-serif{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}
.cm-accordion-link2{
  width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}
.questions-list{
  list-style-type: none;
  padding: 0;
  padding-left: 15px;
  margin: 0;
}
.questions-list li.cm-padding-top-0{
  padding-top: 0;
}
.cm-banner-mt{
  margin-top: 80px;
}
.how-question.cm-heading{
  font-size: 24px;
  font-weight: 300;
}
.howto .questions-list .cm-accordion-item{
  border-bottom: 1px solid #a1a1a1;
}
.howto #general-list.questions-list .cm-accordion-item:last-child{
  border-bottom: 0px solid #a1a1a1;
}
.howto .questions-list .cm-accordion-item:last-child{
  border-bottom: 0px solid #a1a1a1;
}
.questions-list li{
  padding: 50px 0;
}
.questions-list .how-sno{
  padding-right:15px ;
  font-size: 16px;
  display: none;
}

.cm-accordion-content{
  padding: 28px 0 0 0px;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: .2s;
}
.cm-accordion-item.active .cm-accordion-content{
  height: auto;
  opacity: 1;
  transition: .3s;
  box-sizing: border-box;
}
.cm-accordion-content p{
  color: #000;
  font-size: 18px;
  font-weight: 300;
  font-family: "ProximaNova",sans-serif;
}
#membership-list{
  display: none;
}
/* .fixedElement {
  z-index:100;
  background-color: #fff;
} */
.header-mob-only{
  display: none;
}
.howto .full-image.img-desktop{
  display: block;
}
.howto .full-image.img-mobile{
  display: none;
}

@media only screen and (max-width:767px){
  .cm-accordion-link2{
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  .howto-banner{
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .howto .full-image.img-desktop{
    display: none;
  }
  .howto .full-image.img-mobile{
    display: block;
  }
  .header-mob-only p{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
  }
  .how-question.cm-heading{
    font-size: 14px;
    font-weight: 300;
  }
  .howtocont p.cm-text-serif,.howtocont h6{
    font-size: 14px;
    font-weight: 300;
  }
  .howtocont h6{
    font-weight: 500;
  }
  .header-mob-only{
    display: block;
    padding: 0 15px;
    margin-bottom: 40px;
  }
  .hide-mob{
    display: none;
  }
  .hideformobileinitially{
    display: none;
  }
  .questions-list .how-sno{
    font-size: 14px;
  }
  .questions-list li{
    padding: 25px 0;
  }
  .cm-accordion-content p{
    line-height: 1.3;
  }
  .cm-banner-mt{
    margin-top: 50px;
  }
  .questions-list{
    padding-left: 0;
    padding: 0 15px;
  }
}
