.hotel-card{
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    padding-top: 177.77%; /* 16:9 Aspect Ratio */
}
.aspect-fix{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hotel-card.less-space{
  margin-bottom: 50px;
}
.hotel-card-image{
  width: 100%;
  margin-bottom: 25px;
  height: 83.5%;
  object-fit: cover;
}
