<!--
    This is a component which can have 3 or more items.
    On desktop it is a 3 grid structure and 4th items wrap to second row

    On mobile it is a 2 grid structure.

    Contains following elements:
      Section heading

      List of cards:-
            image
            title
            sub-text
            description
            link arrow

 -->


<div class="cm-card-accordion-section">
  <cm-card-accordion-item></cm-card-accordion-item>
  <cm-card-accordion-item></cm-card-accordion-item>
  <cm-card-accordion-item></cm-card-accordion-item>
  <cm-card-accordion-item></cm-card-accordion-item>
</div>
