<div class="main-body-container">

<cm-header></cm-header>

<!-- The below banner has been removed in new design -->

<!-- only one slide to be used to match the design (with just text) -->
<!-- Adding single banner  which can be used inside a carousel-->
<!-- <cm-carousel></cm-carousel> -->
<!-- For this page only heading should be used and others should be hidden inside cm-banner -->
<cm-banner></cm-banner>

<div class="cm-wrapper cm-padding-block">
  <cm-search-banner></cm-search-banner>
</div>


<cm-search-results></cm-search-results>
<cm-footer></cm-footer>
</div>
