
<!-- this is a container component only -->
<div class="benefits-hotels-container ">
    <div class="cm-wrapper cm-bottom-padding-block">
        <div class="row">
          <div class="col-sm-4">
            <cm-hotel-search-card></cm-hotel-search-card>
          </div>
          <div class="col-sm-4">
              <cm-hotel-search-card></cm-hotel-search-card>
          </div>
          <div class="col-sm-4">
            <cm-hotel-search-card></cm-hotel-search-card>
          </div>
        </div>
        <div class="text-center">
          <button class="cm-button primary">View all hotels</button>
        </div>
  </div>
</div>
