<div class="cm-wrapper sidebar-mobile">

  <h2 class="text-center">
    App Tour
  </h2>
  <ul class="text-center sidebar-menu">
    <li id="signMob" data-page="#sign-list">Sign up & Membership</li>
    <li id="manageMob" data-page="#manage-list">Manage Membership</li>
    <li id="onlineMob" data-page="#online-list">Online Reservation & Benefit Redemption</li>
    <li id="personalMob" data-page="#personal-list">Personalise</li>
    <li id="memberMob" data-page="#member-list">Membership Support</li>
  </ul>

</div>

