<div class="cm-card-list-item ">
    <div class="cm-card-list-image-block">
      <img
        src="../../../assets/sample3.png"
        class="cm-card-list-image"
        alt=""
        srcset=""
      />
    </div>
    <h2 class="cm-heading cm-card-title">R Kitchen</h2>
    <p class="cm-heading cm-text-16 cm-card-subtext">Multiple Cuisines</p>
    <p class="cm-text-serif cm-card-desc mt-25">Cap off your weekend in Ahmedabad with our outstanding Sunday brunch.</p>
    <a href="" class="cm-card-arrow"></a>
  </div>
