.cm-card-list-item{
  display: inline-flex;
  /* width: 33.33%; */
  flex-direction: column;
  margin-bottom: 50px;
}
.cm-card-list-item .cm-card-list-image{
  width: 100%;
  margin-bottom: 50px;
}
.cm-card-title{

}
.cm-card-subtext{
  margin-bottom: 0;
}
.cm-card-desc{
  margin-top: 25px;
}
