
<!-- this is a container component only -->
<div class="benefits-search-container ">
    <div class="cm-wrapper cm-top-padding-block">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="benefits-dropdown-container cm-inner-wrapper">
            <div class="mb-20">
              <cm-rich-text-large></cm-rich-text-large>
            </div>
            <cm-dropdown></cm-dropdown>
            <button class="cm-button primary mt-50 benefits-search-button">Search</button>
          </div>
        </div>
      </div>
</div>
</div>
