
<!-- this is a container component only -->
<div class="benefits-search-container ">
    <div class="cm-wrapper cm-top-padding-block">
      <!-- Reusing rich tect large component the text inside is based on it's first usage
      replace the text with below in Content management system

      "Explore our curated breadth of hotels"
      -->
      <div class="row">
        <div class="col-sm-6 offset-3">
          <cm-rich-text-large></cm-rich-text-large>
          <div class="benefits-dropdown-container mt-20">
            <cm-dropdown></cm-dropdown>
            <button class="cm-button primary mt-50 benefits-search-button">Search</button>
          </div>
        </div>
      </div>
</div>
</div>
