<cm-header></cm-header>
<!-- use plain bangles here -->
<!-- <cm-simple-banner></cm-simple-banner> -->
<div class="sitemap-wrapper">

  <div class="cm-wrapper cm-padding-block">
    <h1 class="cm-heading cm-text-center mb-50">Sitemap</h1>
      <section class="cm-columns">
      <div class="cm-ul-list-col">
        <h2 class="cm-heading">Club Marriott Benefits</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>App Coming Soon</a></li>
        <li class="cm-text-16"><a>Signature Experience</a></li>
        <li class="cm-text-16"><a>Participating Hotel</a></li>
        <li class="cm-text-16"><a>Featured Restaurants</a></li>
        <li class="cm-text-16"><a>Become a Member</a></li>
        <li class="cm-text-16"><a>Let's Chat + Call</a></li>
        <li class="cm-text-16"><a>Blog Post</a></li>
        </ul>
        <h2 class="cm-heading">Benefits</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>
        </ul>
        <h2 class="cm-heading">Hotel & Resorts</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>

        </ul>
        <h2 class="cm-heading">Experiences</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>
        <li class="cm-text-16"><a>list Item 6</a></li>

        </ul>
        <h2 class="cm-heading">Terms & Conditions</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        </ul>
      </div>
         <div class="cm-ul-list-col offset">
        <h2 class="cm-heading">Property Detail</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>
        <li class="cm-text-16"><a>list Item 6</a></li>
        <li class="cm-text-16"><a>list Item 7</a></li>
        <li class="cm-text-16"><a>list Item 8</a></li>
        <li class="cm-text-16"><a>list Item 9</a></li>
        <li class="cm-text-16"><a>list Item 10</a></li>
        <li class="cm-text-16"><a>list Item 11</a></li>
        <li class="cm-text-16"><a>list Item 12</a></li>
        </ul>
        <h2 class="cm-heading">Outlet Detail</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>
        <li class="cm-text-16"><a>list Item 6</a></li>
        </ul>
        <h2 class="cm-heading">Experinces Detail </h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>
        </ul>

      </div>
         <div class="cm-ul-list-col offset">
        <h2 class="cm-heading">Blogs Details & Listing</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>

        </ul>
        <h2 class="cm-heading">City Search Page</h2>
        <ul class="sitemap-list">
         <li class="cm-text-16"><a>list Item 1</a></li>
        <li class="cm-text-16"><a>list Item 2</a></li>
        <li class="cm-text-16"><a>list Item 3</a></li>
        <li class="cm-text-16"><a>list Item 4</a></li>
        <li class="cm-text-16"><a>list Item 5</a></li>

        </ul>
        <h2 class="cm-heading become-member-link-sitemap">Become a Member</h2>

        <h2 class="cm-heading">Know More</h2>

      </div>
      </section>

    </div>
</div>
<cm-livechat></cm-livechat>
<cm-footer></cm-footer>
