<!-- This is a reusable component intended to toggle the fields it has based on backend values

  The banner contains the following:
    Main Title
    Sub title/description
    Button CTA

  toggle by adding 'cm-banner-is-hidden' this class on element
-->
<div class="cm-banner center-aligned cm-type-1">
    <video   autoplay loop>
        <source src="../../../assets/media.io_Earth_Zoom_In.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption-block ">
      <div class="carousel-caption ">
      <div class="col-md-8   col-lg-6  ">
        <h2 class="cm-heading cm-banner-title">
            Discover from our selection of 70 hotels
            accross India
        </h2>
        <div class="mt-50 mt-25-sm">
            <cm-search></cm-search>
          </div>
      </div>
    </div>
    </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
</div>
