<!--
    Reusabled carousel type 4

    Contains the following
      Title
      Subtitle
      Text body
      Button CTA

      Depending on use case each of these can be hidden using 'carousel-item-hidden' class
 -->

 <!-- to toggle alginment add 'left-aligned' or 'right-aligned' next to cm-caroursel-type4 class -->
<div class="cm-carousel-type4 right-aligned">
  <div id="carousel-type-four" class="carousel slide carousel-type-four " data-ride="carousel" >
    <div class="carousel-inner cm-wrapper">


      <!-- carousel type 4 item -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-7 image-section ">
            <img class="" src="../../../assets/plate-screenshot.png" alt="" class="cm-carousel-type4-image">
          </div>
          <div class="col-sm-1 spacer"></div>
          <div class="col-sm-4 cm-carousel-type4-content">
            <div class="carousel-caption cm-carousel-type4-caption">
              <h2 class="cm-heading caption-title">The BMW Experience</h2>

              <!-- hidding subtitle for benefits use case -->

              <p class="cm-text-16 caption-subtitle carousel-item-hidden">J.W. Marriott, Benagaluru</p>

              <p class="cm-text-serif caption-text" >Arrive in style, stay in oppulent surroundings and enjoy drinks at the most chic space in town — Playground</p>

              <!-- hidding button for benefits use case -->
              <button class="cm-button primary caption-cta cm-wide-mobile carousel-item-hidden">
                Discover More
              </button>
            </div>
          </div>
        </div>
      </div>

    <!-- carousel type 4 item -->
    <div class="carousel-item ">
        <div class="row">
          <div class="col-sm-7 image-section">
            <img class="" src="../../../assets/plate-screenshot.png" alt="" class="cm-carousel-type4-image">
          </div>
          <div class="col-sm-1 spacer"></div>
          <div class="col-sm-4 cm-carousel-type4-content">
            <div class="carousel-caption cm-carousel-type4-caption">
              <h2 class="cm-heading caption-title">The BMW Experience</h2>

              <!-- hidding subtitle for benefits use case -->

              <p class="cm-text-16 caption-subtitle carousel-item-hidden">J.W. Marriott, Benagaluru</p>

              <p class="cm-text-serif caption-text" >Arrive in style, stay in oppulent surroundings and enjoy drinks at the most chic space in town — Playground</p>

              <!-- hidding button for benefits use case -->
              <button class="cm-button primary caption-cta cm-wide-mobile carousel-item-hidden">
                Discover More
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
        <div class="cm-carousel-type4-nagivations cm-outer-wrapper">
          <a class="carousel-control-prev" href="#carousel-type-four" role="button" data-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
                <g fill="none" fill-rule="evenodd" transform="translate(-41)">
                    <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5"/>
                    <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z"/>
                </g>
              </svg>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-type-four" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
                  <g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
                      <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5"/>
                      <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z"/>
                  </g>
                </svg>
              <span class="sr-only">Next</span>
            </a>
        </div>

  </div>
</div>

