.cm-carousel-type4{
  position: relative;
}
.cm-carousel-type4-image{
  width: 100%;
}
.cm-carousel-type4-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cm-carousel-type4 .carousel-control-prev,
.cm-carousel-type4 .carousel-control-next{
  width: 40px;
  opacity: 1;
}
.cm-carousel-type4 .carousel-control-prev{
  left: 20px;
}

.cm-carousel-type4 .carousel-control-right{
  right: 20px;
}

.carousel-control-next svg path,
.carousel-control-prev svg path{
  fill: #c4b67e;
  transition: .3s;
}

.cm-carousel-type4 .cm-carousel-type4-caption{
  text-align: left;
  background: #fff;
  opacity: 1;
  transition: 1s;
  transition-delay: .3s;
  left: 0;
  padding: 0;
  width: 100%;
  bottom: unset;
  position: relative;
}
/* .cm-carousel-type4 .carousel-item{
  opacity: 0;
  transition: 1s;
}
.cm-carousel-type4 .carousel-item.active.carousel-item-left,
.cm-carousel-type4 .carousel-item.active.carousel-item-right{
  opacity: 0;
  transition: 0s;
}

.cm-carousel-type4 .carousel-item.active{
  opacity: 1;
  transition-delay: .3s;
} */

.cm-carousel-type4 .carousel-item.active .carousel-caption{
  opacity: 1;
}
.cm-carousel-type4-caption .caption-title{
  margin-bottom: 50px;
}
.cm-carousel-type4 .carousel-item-hidden{
  display: none;
}

/* navigation */
.cm-carousel-type4-nagivations{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  right: 0;
}

/* ordering left and right */
.cm-carousel-type4.right-aligned .image-section{
  order: 1
}
.cm-carousel-type4.right-aligned .cm-carousel-type4-content{
  order: 3
}
.cm-carousel-type4 .spacer{
  order: 2;
}
.cm-carousel-type4.left-aligned .image-section{
  order: 3
}
.cm-carousel-type4.left-aligned .cm-carousel-type4-content{
  order: 1
}

@media only screen and (max-width: 576px){

  .carousel-type-two .carousel-inner{
    overflow: visible;
  }
  .cm-carousel-type4 .carousel-caption{
    top: 100%;
    padding: 30px 80px;
    width: 100%;
    left: 0;
    transform: translate(0);
    border-bottom: solid 1px #a1a1a1;
  }
  .cm-carousel-type4 img{
    height: 280px;
    min-height: 280px;
  }
  .cm-carousel-type4 .carousel-control-next,
  .cm-carousel-type4 .carousel-control-prev{
    top: calc(100% + 112px);
  }
  .carousel-control-next svg path,
  .carousel-control-prev svg path{
    fill: #c4b67e;
  }
}

@media only screen and (max-width: 1320px){
  .cm-carousel-type4 .carousel-control-prev{
    left: 0px;
  }

  .cm-carousel-type4 .carousel-control-right{
    right: 0px;
  }
}
