<ul class="cm-social-list">
  <li class="cm-social-list-item cm-menu-link">
    <a href="">
      <img src="../../../assets/share-twitter.svg" alt="" srcset="">
    </a>
  </li>
  <li class="cm-social-list-item cm-menu-link">
    <a href="">
    <img src="../../../assets/share-facebook.svg" alt="" srcset="">
    </a>
  </li>
  <li class="cm-social-list-item cm-menu-link">
    <a href="">
    <img src="../../../assets/share-instagram.svg" alt="" srcset="">
    </a>
  </li>
  <li class="cm-social-list-item cm-menu-link">
    <a href="">
    <img src="../../../assets/share-whatsapp.svg" alt="" srcset="">
    </a>
  </li>
</ul>
