<div class="cm-teasers-list-block">
  <ul class="cm-teasers-list row">
    <!-- teaser item -->
    <li class="cm-teasers-list-item col-sm-4 ">
      <div class="cm-teaser-list-image-block">
        <img
          src="../../../../assets/dining.jpg"
          class="cm-teaser-list-image"
          alt=""
          srcset=""
        />
        <div class="cm-teasers-list-item-cta">
          <button class="cm-button primary">discover more</button>
        </div>
      </div>
      <h2 class="cm-heading">Unique dining experiences</h2>
      <p class="cm-text-serif">Up to a 20% off on food and beverage.</p>
    </li>
    <!-- teaser item -->
    <li class="cm-teasers-list-item col-sm-4">
      <div class="cm-teaser-list-image-block">
        <img
          src="../../../../assets/spa.jpg"
          class="cm-teaser-list-image"
          alt=""
          srcset=""
        />
        <div class="cm-teasers-list-item-cta">
          <button class="cm-button primary">discover more</button>
        </div>
      </div>
      <h2 class="cm-heading">Endless traveling</h2>
      <p class="cm-text-serif">
        Up to a 20% off on the Best Available Rate of rooms.
      </p>
    </li>
    <!-- teaser item -->
    <li class="cm-teasers-list-item col-sm-4">
      <div class="cm-teaser-list-image-block">
        <img
          src="../../../../assets/spa.jpg"
          class="cm-teaser-list-image"
          alt=""
          srcset=""
        />
        <div class="cm-teasers-list-item-cta">
          <button class="cm-button primary">discover more</button>
        </div>
      </div>
      <h2 class="cm-heading">Blissfull relaxation</h2>
      <p class="cm-text-serif">Up to a 20% off on select Spa treatments.</p>
    </li>
  </ul>
</div>
