<!-- This is a reusable component intended to toggle the fields it has based on backend values

  The banner contains the following:
    Main Title
    Sub title/description
    Button CTA

  toggle by adding 'cm-banner-is-hidden' this class on element
-->
<div class="cm-banner">
    <img src="../../../assets/experiences-mask.jpg" alt="" class="cm-banner-image">
    <div class="row cm-banner-content-block">
      <div class="col-md-6 offset-md-3  cm-banner-content text-center">
        <h1 class="cm-heading cm-banner-title">
            Exclusive Benefits, Local Experiences
        </h1>
        <p class="cm-text-serif cm-banner-desc">
            Club Marriott is a membership program that provides members with generous dining,
            accommodation and other benefits at over 300 Participating Marriott Hotels and Resorts
            across Asia Pacific.
        </p>

        <!-- Added cm-banner-is-hidden for benefits use case -->
        <button class="cm-button primary cm-wide-mobile cm-banner-is-hidden cm-banner-action">Download now</button>
      </div>
    </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
  </div>
