<!-- This is a reusable component intended to toggle the fields it has based on backend values

  The banner contains the following:
    Main Title
    Sub title/description
    Button CTA

  toggle by adding 'cm-banner-is-hidden' this class on element
-->
<div class="cm-banner center-aligned cm-type-1">
  <img class="cm-banner-carousel-image" src="../../../assets/main-banner.jpg"  alt="First slide">

  <div class="carousel-caption-block cm-banner-content-block">
    <div class="carousel-caption ">
      <div class="row">
        <div class="col-md-6 offset-3">
            <h2 class="cm-heading cm-banner-title ">The BMW Experience</h2>
            <p class="cm-text-16 cm-banner-subtitle">J.W. Marriott, Benagaluru</p>
            <p class="cm-text-serif cm-banner-desc" >Arrive in style, stay in oppulent surroundings and enjoy drinks at the most chic space in town — Playground</p>
            <button class="cm-button primary cm-banner-action cm-wide-mobile">
              Discover More
            </button>
        </div>
      </div>
    </div>
  </div>
    <!-- overlay for banners  -->
    <div class="cm-banner-overlay"></div>
</div>
