<!-- this component is fot types of banner with text and call to action on it  -->
<!-- this has no js . Onclick of button function shall be added by integration team -->

<div class="cm-wrapper banner-type-cta">
  <img src="../../../assets/mobile-mockup.png" alt="" class="d-block d-sm-none banner-type-cta-image">
  <div class="row">
    <div class="col-sm-6 col-md-4  banner-type-cta-content">
      <h1 class="cm-heading banner-type-cta-title">Get instant access to the latest offers and enjoy a hassle-free experience with our app.</h1>
      <button class="cm-button primary cm-wide-mobile">Download now</button>
    </div>
     <img src="../../../assets/mockup.jpg" alt="" class="col-sm-6 col-md-7  d-sm-block d-none banner-type-cta-image">
  </div>
</div>
