<!--
    This is a component which can have 3 or more items.
    On desktop it is a 3 grid structure and 4th items wrap to second row

    On mobile it is a 2 grid structure.

    Contains following elements:
      Section heading

      List of cards:-
            image
            title
            sub-text
            description
            link arrow

 -->


<div class="cm-card-list-block">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h2 class="cm-heading cm-card-list-section-title">Dining</h2>
    </div>
    <div class="col-md-9 col-sm-12">
      <!-- add has-3-col in class below to have 3 cards in a row -->
      <!-- add has-4-col in class below to have 4 cards in a row-->
      <div class="cm-card-list row has-3-col">
        <div class="card-col">
          <cm-card></cm-card>
        </div>
        <div class="card-col">
          <cm-card></cm-card>
        </div>
        <div class="card-col">
            <cm-card></cm-card>
        </div>
      </div>
    </div>
  </div>
</div>
