<!--
    This is a component which can have 3 or more items.
    On desktop it is a 3 grid structure and 4th items wrap to second row

    On mobile it is a 2 grid structure.

    Contains following elements:
      Section heading

      List of cards:-
            image
            title
            sub-text
            description
            link arrow

 -->


<div class="cm-card-list-block">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h2 class="cm-heading cm-card-list-section-title">Dining</h2>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="cm-card-list">
        <li class="col-md-4 col-sm-6 cm-card-list-item ">
                <div class="cm-card-list-image-block">
                  <img
                    src="../../../assets/sample3.png"
                    class="cm-card-list-image"
                    alt=""
                    srcset=""
                  />
                </div>
                <h2 class="cm-heading cm-card-title">R Kitchen</h2>
                <p class="cm-heading cm-text-16 cm-card-subtext">Multiple Cuisines</p>
                <p class="cm-text-serif cm-card-desc mt-25">Cap off your weekend in Ahmedabad with our outstanding Sunday brunch.</p>
          </li>
          <li class="col-md-4 col-sm-6 cm-card-list-item ">
              <div class="cm-card-list-image-block">
                <img
                  src="../../../assets/sample3.png"
                  class="cm-card-list-image"
                  alt=""
                  srcset=""
                />
              </div>
              <h2 class="cm-heading cm-card-title">Kuro - The Asian Bistro                </h2>
              <p class="cm-heading cm-text-16 cm-card-subtext">Japanese</p>
              <p class="cm-text-serif cm-card-desc mt-25">Watch as our talented chefs prepare your food in interactive, glass-enclosed show kitchens.                </p>
        </li>
        <li class="col-md-4 col-sm-6 cm-card-list-item ">
            <div class="cm-card-list-image-block">
              <img
                src="../../../assets/sample3.png"
                class="cm-card-list-image"
                alt=""
                srcset=""
              />
            </div>
            <h2 class="cm-heading cm-card-title">Mill & Co
              </h2>
            <p class="cm-heading cm-text-16 cm-card-subtext">Coffee House</p>
            <p class="cm-text-serif cm-card-desc mt-25">A 24-hour open café, perfect spot for those on the go.</p>
      </li>
      </div>
    </div>
  </div>
</div>
