<div class="owl-carousel cm-carousel-type-3">
    <div class="cm-carousel-type-3-item">
        <img src="../../../assets/dining copy.jpg" alt="" class="cm-carousel-type-3-image">
        <div class="cm-owl-carousel-content">
          <h2 class="cm-heading cm-carousel-type-3-title">Best wedding locations</h2>
          <a href="" class="cm-link cm-carousel-type-3-link">Read More</a>
        </div>
    </div>
    <div class="cm-carousel-type-3-item">
        <img src="../../../assets/stay.jpg" alt="" class="cm-carousel-type-3-image">
        <div class="cm-owl-carousel-content">
          <h2 class="cm-heading cm-carousel-type-3-title">Customer highlights: A weekend in Srinagar</h2>
          <a href="" class="cm-link cm-carousel-type-3-link">Read More</a>
        </div>
    </div>
    <div class="cm-carousel-type-3-item">
        <img src="../../../assets/spa copy.jpg" alt="" class="cm-carousel-type-3-image">
        <div class="cm-owl-carousel-content">
          <h2 class="cm-heading cm-carousel-type-3-title">Blissfull relaxation</h2>
          <a href="" class="cm-link cm-carousel-type-3-link">Read More</a>
        </div>
    </div>
    <div class="cm-carousel-type-3-item">
        <img src="../../../assets/dining copy.jpg" alt="" class="cm-carousel-type-3-image">
        <div class="cm-owl-carousel-content">
          <h2 class="cm-heading cm-carousel-type-3-title">Best wedding locations</h2>
          <a href="" class="cm-link cm-carousel-type-3-link">Read More</a>
        </div>
    </div>
</div>
