<div class="main-body-container">
  <cm-header></cm-header>
  <cm-carousel></cm-carousel>
  <cm-teasers-container></cm-teasers-container>
  <cm-banner-type-cta-2></cm-banner-type-cta-2>
  <cm-home-experiences-container></cm-home-experiences-container>

  <div class="cm-wrapper cm-padding-block">
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-100">
        <!-- <cm-rich-text></cm-rich-text> -->
        <h2 class="cm-heading text-center">
          Featured Hotels
        </h2>

      </div>
    </div>
    <cm-teasers-list></cm-teasers-list>
  </div>


  <!-- Benefits container below is work in progress please do not integrate -->
  <cm-home-benefits-container></cm-home-benefits-container>
  <!-- Benefits container above is work in progress please do not integrate -->

  <cm-home-membership-container></cm-home-membership-container>
  <cm-home-last-container></cm-home-last-container>
  <cm-footer></cm-footer>
</div>

