<div class="main-body-container">
  <cm-header></cm-header>
  <cm-carousel></cm-carousel>
  <cm-teasers-container></cm-teasers-container>
  <cm-banner-type-cta></cm-banner-type-cta>
  <cm-home-experiences-container></cm-home-experiences-container>

  <!-- Benefits container below is work in progress please do not integrate -->
  <cm-home-benefits-container></cm-home-benefits-container>
  <!-- Benefits container above is work in progress please do not integrate -->

  <cm-home-membership-container></cm-home-membership-container>
</div>
