
<!-- this component should be reusable and the text can vary based on where it is used -->

<div class="row sidenav-accordion-cont">
  <div class="col">
    <div class="cm-heading">App Tour</div>
    <div class="tabs">
      <div class="tab">
        <input type="radio" id="chck1" checked name="rd">
        <label class="tab-label" for="chck1">Sign up & Membership</label>
        <div class="tab-content">
          <ul>
            <li class="page-link2 gold" id="sign1" data-page="#sign-list-item-1">Sign up</li>
            <li class="page-link2" id="sign2" data-page="#sign-list-item-2">Activate Membership</li>
            <li class="page-link2" id="sign3" data-page="#sign-list-item-3">Login</li>
            <li class="page-link2" id="sign4" data-page="#sign-list-item-4">Gift a Membership</li>
            <li class="page-link2" id="sign5" data-page="#sign-list-item-5">Buy another Membership</li>
            <li class="page-link2" id="sign6" data-page="#sign-list-item-6">Renewal Membership</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck2" name="rd">
        <label class="tab-label" for="chck2">Manage Membership</label>
        <div class="tab-content">
          <ul>
            <li>Home Page</li>
            <li>Membership Page</li>
            <li>Membership Card</li>
            <li>Your Certificates</li>
            <li>Redemptions</li>
            <li>Multiple Memberships</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck3" name="rd">
        <label class="tab-label" for="chck3">Online Reservation & Benefit Redemption</label>
        <div class="tab-content">
          <ul>
            <li>Profile View and Update</li>
            <li>Activity Listing</li>
            <li>Create & Share Memory</li>
            <li>Refer a Friend</li>
            <li>Buy an Experience</li>
            <li>Gift a Certificate</li>
            <li>Receive a Certificate</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck4" name="rd">
        <label class="tab-label" for="chck4">Personalise</label>
        <div class="tab-content">
          <ul>
            <li>Profile View and Update</li>
            <li>Activity Listing</li>
            <li>Create & Share Memory</li>
            <li>Refer a Friend</li>
            <li>Buy an Experience</li>
            <li>Gift a Certificate</li>
            <li>Receive a Certificate</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck5" name="rd">
        <label class="tab-label" for="chck5">Membership Support</label>
        <div class="tab-content">
          <ul>
            <li>Profile View and Update</li>
            <li>Activity Listing</li>
            <li>Create & Share Memory</li>
            <li>Refer a Friend</li>
            <li>Buy an Experience</li>
            <li>Gift a Certificate</li>
            <li>Receive a Certificate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col">
  <h2>Open <b>one</b></h2>
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="rd1" name="rd">
      <label class="tab-label" for="rd1">Item 1</label>
      <div class="tab-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd2" name="rd">
      <label class="tab-label" for="rd2">Item 2</label>
      <div class="tab-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd3" name="rd">
      <label for="rd3" class="tab-close">Close others &times;</label>
    </div>
  </div>
</div> -->
    



<!-- <ul class="cm-accordion-sidebar-cont">
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
    </ul> -->