
<!-- this component should be reusable and the text can vary based on where it is used -->

<div class="row sidenav-accordion-cont">
  <div class="col">
    <div class="cm-heading">App Tour</div>
    <div class="tabs">
      <div class="tab">
        <input type="radio" class="radio" id="chck1" name="rd">
        <label class="tab-label" for="chck1" data-page="#sign-list" >Sign up & Membership</label>
        <div class="tab-content">
          <ul class="acc-sections">
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-1" id="sign1">Sign up</li>
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-2" id="sign2">Activate Membership</li>
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-3" id="sign3">Login</li>
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-4" id="sign4">Gift a Membership</li>
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-5" id="sign5">Buy another Membership</li>
            <li class="page-link2"  data-page="#sign-list"  data-item="#sign-list-item-6" id="sign6">Renewal Membership</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck2" name="rd">
        <label class="tab-label" for="chck2" data-page="#manage-list">Manage Membership</label>
        <div class="tab-content">
          <ul  class="acc-sections">
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-1" id="manage1">Home Page</li>
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-2" id="manage2">Membership Page</li>
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-3" id="manage3">Membership Card</li>
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-4" id="manage4">Your Certificates</li>
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-5" id="manage5">Redemptions</li>
            <li  class="page-link2" data-page="#manage-list"  data-item="#manage-list-item-6" id="manage6">Multiple Memberships</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck3" name="rd">
        <label class="tab-label" for="chck3" data-page="#online-list" >Online Reservation & Benefit Redemption</label>
        <div class="tab-content">
          <ul class="acc-sections">
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-1" id="online1">Profile View and Update</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-2" id="online2">Activity Listing</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-3" id="online3">Create & Share Memory</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-4" id="online4">Refer a Friend</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-5" id="online5">Buy an Experience</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-6" id="online6">Gift a Certificate</li>
            <li class="page-link2" data-page="#online-list"  data-item="#online-list-item-7" id="online7">Receive a Certificate</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck4" name="rd">
        <label class="tab-label" for="chck4" data-page="#personal-list" >Personalise</label>
        <div class="tab-content">
          <ul>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-1" id="personal1">Profile View and Update</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-2" id="personal2">Activity Listing</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-3" id="personal3">Create & Share Memory</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-4" id="personal4">Refer a Friend</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-5" id="personal5">Buy an Experience</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-6" id="personal6">Gift a Certificate</li>
            <li class="page-link2" data-page="#personal-list"  data-item="#personal-list-item-7" id="personal7">Receive a Certificate</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="chck5" name="rd">
        <label class="tab-label" for="chck5" data-page="#member-list" >Membership Support</label>
        <div class="tab-content">
          <ul>
            <li>Profile View and Update</li>
            <li>Activity Listing</li>
            <li>Create & Share Memory</li>
            <li>Refer a Friend</li>
            <li>Buy an Experience</li>
            <li>Gift a Certificate</li>
            <li>Receive a Certificate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col">
  <h2>Open <b>one</b></h2>
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="rd1" name="rd">
      <label class="tab-label" for="rd1">Item 1</label>
      <div class="tab-content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd2" name="rd">
      <label class="tab-label" for="rd2">Item 2</label>
      <div class="tab-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd3" name="rd">
      <label for="rd3" class="tab-close">Close others &times;</label>
    </div>
  </div>
</div> -->
    



<!-- <ul class="cm-accordion-sidebar-cont">
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
      <li>Presonalise
        <ul>
          <li>Profile View and Update</li>
          <li>Activity Listing</li>
          <li>Create & Share Memory</li>
          <li>Refer a Friend</li>
          <li>Buy an Experience</li>
          <li>Gift a Certificate</li>
          <li>Receive a Certificate</li>
        </ul>
      </li>
    </ul> -->