<ul class="cm-links-list">
  <li class="cm-links-list-item cm-menu-link">
    <!-- DONOT COPY routerlink and routerlinkactive
         IT IS FOR DEMO PURPOSE ONLY -->
    <a routerLink="/download-app" routerLinkActive="cm-active-link">
      Instagram
    </a>
  </li>
  <li class="cm-links-list-item cm-menu-link">
    <a routerLink="/download-app" routerLinkActive="cm-active-link">
      Facebook
    </a>
  </li>
  <li class="cm-links-list-item cm-menu-link">
    <a routerLink="/download-app" routerLinkActive="cm-active-link">
      Twitter
    </a>
  </li>
  <li class="cm-links-list-item cm-menu-link">
    <a routerLink="/download-app" routerLinkActive="cm-active-link">
      Youtube
    </a>
  </li>
</ul>
