@import "../../../vendor/jquery-ui-1.12.1.autocomplete/jquery-ui.min.css";
.custom-combobox {
  position: relative;
  display: inline-block;
}

.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.custom-combobox-input{
  background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
}
