<div class="main-body-container">
  <!-- reused header -->
  <cm-header></cm-header>

  <!-- new banner component made reusable for other use cases -->
  <cm-banner></cm-banner>

  <!-- first section after banner in benefits page -->
  <div class="cm-padding-block">
    <div class="mb-50">
      <!-- reused rich text large, the content shall change from backend -->
      <cm-rich-text-large ></cm-rich-text-large>
    </div>
      <!-- reused rich text, the content needs to change from backend -->
      <cm-rich-text></cm-rich-text>
  </div>
  <cm-carousel-type4></cm-carousel-type4>

  <!-- Benefits container below is work in progress please do not integrate -->
  <cm-home-benefits-container></cm-home-benefits-container>
  <!-- Benefits container above is work in progress please do not integrate -->

  <cm-home-membership-container></cm-home-membership-container>
  <cm-home-last-container></cm-home-last-container>
  <cm-footer></cm-footer>
</div>
