<div class="main-body-container">
  <!-- reused header -->
  <cm-header></cm-header>

  <!-- new banner component made reusable for other use cases -->
  <cm-banner></cm-banner>

  <!-- first section after banner in benefits page -->
  <div class="cm-padding-block cm-wrapper">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="mb-50 mb-25-sm">
          <!-- reused rich text large, the content shall change from backend -->
          <cm-rich-text-large ></cm-rich-text-large>
        </div>
        <cm-rich-text></cm-rich-text>
      </div>
    </div>
      <!-- reused rich text, the content needs to change from backend -->
  </div>
  <div class="cm-wrapper cm-wrapper-collapse-mobile">
    <cm-blog-thumbnail></cm-blog-thumbnail>
    <cm-blog-thumbnail></cm-blog-thumbnail>
    <cm-blog-thumbnail></cm-blog-thumbnail>
  </div>
  <cm-benefits-search-container></cm-benefits-search-container>
  <cm-benefits-hotels-container></cm-benefits-hotels-container>

  <!--same banner component as home page form banner component  -->
  <cm-home-membership-container></cm-home-membership-container>
  <cm-footer></cm-footer>
</div>
