/* You can add global styles to this file, and also import other style files */
@import 'club-theme.css';
@import './vendor/bootstrap4/';
@import './vendor/OwlCarousel/dist/assets/owl.carousel.min.css';
/* @import './vendor/OwlCarousel/dist/assets/owl.theme.default.min.css'; */
body{
  margin: 0;
}
.cm-wrapper{
  margin: auto;
  max-width: 1190px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.cm-outer-wrapper{
  margin: auto;
  max-width: 1440px;
  width: 100%;
}
.cm-padding-block{
  padding-top: 200px;
  padding-bottom: 200px;
}
.cm-top-padding-block{
  padding-top: 200px;
}
.main-body-container{
  padding-top: 80px;
}

/* writting this carousel globally as component wise it was not working */
.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image{
  height: 540px;
  margin-top:0px;
  transition: 0.5s;
  /* transition-delay: s; */
}
.cm-owl-carousel .owl-item.active .cm-owl-carousel-image{
  /* width: 363px; */
  height: 300px;
  object-fit: cover;

  /* transition-delay: .1s; */
}
.cm-owl-carousel .owl-item .cm-owl-carousel-image{
  transition: margin .5s;
  transition-delay: .1s;
  margin-top: 177px;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  top:38%;
  outline:none;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev span,
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: 0px;
  top:38%;
  outline:none;
}

.cm-owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 576px){
  .main-body-container{
    padding-top: 50px;
  }
  .cm-padding-block{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .cm-top-padding-block{
    padding-top: 80px;
  }
  body{
    overflow-x: hidden;
  }
}
