/* You can add global styles to this file, and also import other style files */
@import 'club-theme.css';
@import './vendor/bootstrap4/';
@import './vendor/OwlCarousel/dist/assets/owl.carousel.min.css';
/* ../../themes/base/jquery.ui.all.css */
/* @import './vendor/jquery-ui-1.10.4/themes/base/jquery.ui.all.css'; */
/* @import './vendor/OwlCarousel/dist/assets/owl.theme.default.min.css'; */
body{
  margin: 0;
}
.cm-wrapper{
  margin: auto;
  max-width: 1190px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.cm-outer-wrapper{
  margin: auto;
  max-width: 1440px;
  width: 100%;
}
.cm-padding-block{
  padding-top: 200px;
  /* overflow: hidden; */
  padding-bottom: 200px;
}
.cm-bottom-padding-block{
  padding-bottom: 200px;
}
.cm-top-padding-block{
  padding-top: 200px;
}
.main-body-container{
  padding-top: 80px;
}
.full-image{
  width: 100%;
}
/* writting this carousel globally as component wise it was not working */
.cm-owl-carousel .owl-item .cm-owl-carousel-image-block{
  height: 440px;
  margin-top:0px;
}
.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::before,
.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::after
{
  transform: scaleY(0);
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:45%;
  outline:none;
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev span,
.cm-owl-carousel.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:45%;
  outline:none;
}
/* carousel type 3 owl  */
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:31%;
  outline:none;
}
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev span,
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:31%;
  outline:none;
}

/* teaser carousel styling */
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:38%;
  outline:none;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev span,
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:38%;
  outline:none;
}

.cm-owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}


/* Dropdown style for hotel list*/
.dropdown-type1 + .custom-combobox .custom-combobox-input{
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 46px;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-family: "ProximaNova", sans-serif;
    font-weight: 300;
}
.ui-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  max-height: 70vh;
  overflow: scroll;
  overflow: overlay;
  height: auto;
}

.ui-menu-item{
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  color: #000;
  padding: 0;
}
.ui-menu-item div{
  padding: 5px 10px;
}
.ui-menu-item div:hover,
.ui-menu-item .ui-state-active{
  background-color: #eee;
}
.ui-helper-hidden-accessible{
  display: none;
}
/* ui menu scrollbar */
.ui-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ui-menu::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.ui-menu::-webkit-scrollbar-thumb {
  background: #dddddd;
}

/* Handle on hover */
.ui-menu::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
/* .ui-widget input{
  font-family: "ProximaNova", sans-serif !important;
} */
.dropdown-type1.dark + .custom-combobox .custom-combobox-input{
  color: #b1aaaa;
  border-color: #b1aaaa;
}
.dropdown-type1.dark + .custom-combobox .custom-combobox-toggle::after{
  border-top: 8px solid #b1aaaa;
}
.dropdown-type1.dark  + .custom-combobox .custom-combobox-input::placeholder,
.dropdown-type1.dark  + .custom-combobox .custom-combobox-input::-webkit-input-placeholder{
  color: #b1aaaa;
}
.dropdown-type1 + .custom-combobox .custom-combobox-input::placeholder {
    color: #fff;
}

.dropdown-type1 + .custom-combobox .custom-combobox-input::-webkit-input-placeholder {
    color: #fff;
}

.custom-combobox{
  position: relative;
  height: 100%;
  font-size: 0;
  display: block;
}
.custom-combobox-toggle{
  width: 10px;
  height: 100%;
  display: inline;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
.dropdown-type1 + .custom-combobox .custom-combobox-toggle::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ffffff;
  clear: both;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  outline:none;
}

/* cities dropdown style */
.dropdown-type2 + .custom-combobox .custom-combobox-input{
  background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #b1aaaa;
    width: 100%;
    height: 22px;
    color: #000;
    outline: none;
    font-family: "ProximaNova", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
}
.dropdown-type2 + .custom-combobox .custom-combobox-input:focus{
  border-color: #c4b67e;
}
.dropdown-type2 + .custom-combobox .custom-combobox-input::placeholder {
    color: #b1aaaa;
}

.dropdown-type2 + .custom-combobox .custom-combobox-input::-webkit-input-placeholder {
    color: #b1aaaa;
}

.dropdown-type2 + .custom-combobox .custom-combobox-toggle::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #b1aaaa;
  clear: both;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  outline:none;
}

.dropdown-type2 + .custom-combobox .custom-combobox-toggle{
  visibility: visible;
}



.is-hidden{
  display: none !important;
}

.visible-mobile{
  display: none !important;
}
.hidden-mobile{
  display: inherit !important;
}
@media only screen and (max-width: 767px){
  .visible-mobile{
    display: inherit !important;
  }
  .hidden-mobile{
    display: none !important;
  }
  .cm-wrapper.cm-wrapper-collapse-mobile{
    padding: 0;
  }
  .main-body-container{
    padding-top: 50px;
  }
  .cm-padding-block{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cm-top-padding-block{
    padding-top: 50px;
  }
  body{
    overflow-x: hidden;
  }
  /* carousels */

  .cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev{
    left: 0;
  }
  .cm-carousel-type-3.owl-carousel .owl-nav button.owl-next{
    right: 0;
  }
  .dropdown-type1 + .custom-combobox .custom-combobox-input{
    font-size: 12px;
    height: 25px;
  }
  .dropdown-type2 + .custom-combobox .custom-combobox-input{
    font-size: 12px;
  }
  .cm-inner-wrapper{
    width: 100%;
    max-width: calc(100vw - 170px);
    margin: auto;
    min-width: 245px;
    padding: 0;
  }
  .no-padding-sm{
    padding: 0;
  }
  .cm-order-sm-1{
    order: 1;
  }
  .cm-order-sm-2{
    order: 2;
  }
  .ui-menu-item{
    font-size: 12px;
  }
  /* carousel styling mobile */
  .cm-owl-carousel .owl-item .cm-owl-carousel-image-block,
  .cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block
  {
    height: 300px;
  }
  .cm-owl-carousel.owl-carousel .owl-nav button.owl-next,
  .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
    display: none;
  }
}

@media only screen and (max-width:1260px){

  .teaser-owl-carousel.owl-carousel .owl-nav button.owl-next{
    right: 0;
  }

  .teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev{
    left: 0;
  }
}
