
        <div class="floating-chat marriott-lchat">
          <img src="../../../assets/chat-icon.svg">
          <div class="chat">
              <div class="header">
                  <span class="title">
                      Live Assistance
                  </span>
                  <button>
                      <img src="../../../assets/cross.svg">
                  </button>

              </div>
              <ul class="messages">
                  <li class="other">How may I help you?</li>
                  <li class="self">Lorem Ipsum....</li>
              </ul>
              <div class="footer">
                  <div class="text-box cm-input" contenteditable="true" disabled="true"></div>
                  <button id="sendMessage"><img src="../../../assets/send.svg"/></button>
              </div>
          </div>
      </div>
