<div class="main-body-container">
  <cm-header></cm-header>
  <!-- in this banner only heading should be toggled on
  ideal heading text:  "Stay up to date with Club Marriott"
  -->
  <cm-banner></cm-banner>
  <div class="cm-wrapper cm-wrapper-collapse-mobile cm-padding-block">
    <div class=" filter-links">
        <ul class="blog-categories">
          <li class="blog-category" >ALL</li>
          <li class="blog-category blog-category-active ">SHAADI BY MARRIOTT</li>
          <li class="blog-category">CHEF TALK</li>
          <li class="blog-category">DESTINATION TALK</li>
        </ul>
      </div>
    <cm-blog-thumbnail></cm-blog-thumbnail>
    <cm-blog-thumbnail [align]="'left'"></cm-blog-thumbnail>
    <cm-blog-thumbnail></cm-blog-thumbnail>
  </div>
  <cm-footer></cm-footer>
</div>
