<div class="main-body-container">

<cm-header></cm-header>
<cm-banner></cm-banner>
<div class="cm-wrapper cm-top-padding-block">
  <cm-search-banner></cm-search-banner>
</div>
  <div class="cm-wrapper cm-padding-block cm-wrapper-collapse-mobile overflow-hidden">
    <!-- Reusing rich tect large component the text inside is based on it's first usage
    replace the text with below in Content management system
      Ideal Text below:
    "Indulge in our exclusive signature collections "
    -->
    <div class="row">
      <div class="col-md-8 offset-md-2 cm-inner-wrapper">
        <cm-rich-text-large></cm-rich-text-large>
      </div>
      <div class="col-md-4 offset-md-4 search-brand  cm-inner-wrapper">
        <!-- reusing this autocomplete dropdown here.
          placeholder to be changed to "Select Brand"
          and Brand names to be added in the dropdown backend.
        -->
        <cm-autocomplete-dropdown></cm-autocomplete-dropdown>
        <!-- <cm-dropdown-category></cm-dropdown-category> -->
      </div>
    </div>
    <div class="offers-carousel-container">
      <cm-owl-carousel></cm-owl-carousel>
    </div>
  </div>

  <!-- reusing text component.
  Ideal text here "Curated Club Marriott Experiences"
  -->
      <div class="cm-wrapper">
          <div class="row">
              <div class="col-md-10 offset-md-1 cm-inner-wrapper">
                <!-- <cm-rich-text-large></cm-rich-text-large> -->
                <h1 class="cm-heading text-center">Curated Club Marriott Experiences</h1>

              </div>
          </div>
      </div>
      <!-- reusing carousel. ideal data to be updated from backend -->
      <div class="curated-experience-container mt-50">
        <cm-carousel-type2></cm-carousel-type2>
      </div>

  <!-- reusing text component.
  Ideal text here "Featured Offers"
  -->
  <div class="cm-wrapper cm-padding-block">
      <div class="row">
          <div class="col-md-10 offset-md-1 cm-inner-wrapper">
            <!-- <cm-rich-text-large></cm-rich-text-large> -->
            <h1 class="cm-heading text-center">Featured Offers</h1>

          </div>
      </div>
      <!-- reusing teaser carousel. ideal data to be updated from backend -->
      <div class="featured-offers-container mt-50">
        <cm-hotel-list></cm-hotel-list>
      </div>
  </div>
  <!-- reusing text component.
  Ideal text here "Featured Events"
  -->
  <div class="cm-wrapper">
      <div class="row">
          <div class="col-md-10 offset-md-1 cm-inner-wrapper">
            <!-- <cm-rich-text-large></cm-rich-text-large> -->
            <h1 class="cm-heading text-center">Featured Events</h1>
          </div>
      </div>
  </div>
  <!-- reusing carousel. ideal data to be updated from backend
  example :"South East Asian Cinema";
  -->
  <div class="curated-experience-container mt-50">
    <cm-carousel-type2></cm-carousel-type2>
  </div>
<cm-footer></cm-footer>
</div>
